{% load static %}



<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            About
        </title>
        <link rel="stylesheet" href="{% static 'about.css' %}">


    </head>
    <body>
        <div class="container">
            <div class="box">
                <div class="content">
                    <img src="https://image.flaticon.com/icons/svg/2377/2377010.svg" width="100px" height="100px" >
                    <p>wash your hands and dont touch your face continuously</p>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <img src="https://image.flaticon.com/icons/svg/619/619404.svg" width="100px" height="100px" >
                    <p>cover your mouth with tissue or napkin while coughing or sneezing</p>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <img src="https://image.flaticon.com/icons/svg/655/655820.svg" width="100px" height="100px" >
                    <p>Avoid travelling while having fever</p>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <img src="https://image.flaticon.com/icons/svg/2002/2002516.svg" width="100px" height="100px" >
                    <p>Avoid close contact with animals while sick</p>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <img src="https://image.flaticon.com/icons/svg/2217/2217528.svg" width="100px" height="100px" >
                    <p>if you are having cough,fever and breathing difficulty immediately visit the doctor</p>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <img src="https://image.flaticon.com/icons/svg/2599/2599564.svg" width="100px" height="100px" >
                    <p>always wear a mask and use hand sanitizer</p>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <img src="https://image.flaticon.com/icons/svg/1830/1830839.svg" width="100px" height="100px" >
                    <p>only eat well cooked food</p>
                </div>
            </div>
        </div>
    </body>
</html>