{% load static %}

<body lang="en">
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"crossorigin="anonymous">

<!-- <div class="nav">

	<ul>
    <li><a href="#" class="nav-link">Home</a></li>
    <li><a href="/about" class="nav-link"><em>About</em></a></li>
    <li><a href="#" class="nav-link">FAQ</a></li>
    <li><a href="/contactus" class="nav-link">Contact Us</a></li>
    <li><a href="/login" class="nav-link">Login</a></li>

	
		</ul>
</div> -->


<h3>Sign in Form</h3>

<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form action="login" method="POST">
			{% csrf_token %}
			<h2>Sign in</h2>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" placeholder="username" name="username" />
			<input type="password" placeholder="Password" name="password" />
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
		</form>
		<div>
          {% for message in messages %}
          <h2> {{message}} </h2>
          {% endfor %}
      </div>
	</div>
	<div class="overlay-container">
		<div class="overlay">

			<div class="overlay-panel overlay-right">
				<h2>Hello, Friend!</h2>
				<h1>Enter your personal details and start journey with us</h1>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>