<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
    <meta charset="UTF-8">
    <title>Home-NewNormal</title>
    <link rel="stylesheet" href="{% static 'homepage.css'%}">
</head>
<body>
    <nav class="navbar">

        <ul>
<!-- 
            <li style="float: left;size: 30px;"><img style="size: 30px; border-radius: 50%; "   src="{% static 'logo.png'%}"></li> -->
            <li>
            
          </li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li ><a href="/account/login">Sign In</a></li>
            <li><a href="/account/signup">Sign Up</a></li>
        </ul>
    </nav>
    <div class="banner">
        <!-- <header><a href="#" class="logo">Department</a></header> -->
        <section>
            <div class="wave">
                <img alt="" src="{% static 'homepage.jpg' %}">
            </div>
        </section>
        <div class="content">
            <h2>Welcome</h2>
            <h2>to</h2> 
            <h2>NewNormal</h2>
            <p> A Perfect Way to Socialize, Explore and Live your life with the same Happiness as before.</p>
        </div>
    </div>
    </br>
    <section class="about" id="about">
        <div class="contentBx" >
            <h2 class="heading">About the Content</h2>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vero ad, ipsam sint esse, asperiores facere, nesciunt dolorem unde error quam saepe pariatur. Officiis sequi voluptas odio accusamus odit quisquam harum aperiam architecto illum? Pariatur quis beatae exercitationem dignissimos, quos laboriosam possimus repellendus illum recusandae! Aut vitae, suscipit ipsam aspernatur laudantium eum quaerat libero explicabo aperiam hic. Alias laborum deleniti explicabo maxime nisi modi, facere praesentium maiores dolorum eaque exercitationem consequuntur error quod perferendis molestias, libero hic accusantium. Error quos illum libero dicta totam, nulla nihil unde iure maiores minus asperiores sunt temporibus quam? Vitae esse voluptates voluptatibus iure perspiciatis.
            </p>
        </div>
        
    </section>
    </br>
    <section class="footer">
        <p class="text">By Team CheckMate</p>
    </section>
</body>
</html>