{% load static %}
<body>
<link rel="stylesheet" href="{% static 'scramble.css' %}">

<div class="game">

<br>
<br>
	<div class="score">
Score: {{score}}/{{total}}
		</div>
<br>
<br>
	<div class="words">{{jum_word}}</div>
<br>
<br>
<form action="{% url 'check' %}" method="post">
	{% csrf_token %}
	<input class="answer" type="text" name="answer" placeholder="Answer" >
	<button class="button" type="submit">Check</button>
</form>
<a class="button" href="{% url 'next' %}" role="button">Next</a>
<br>
<br>
{{ msg }}

	</div>
</body>